<div class="modal-header">
    <h4 class="modal-title">Nueva Caja</h4>
    <button type="button" class="close" (click)="activeModal.dismiss()"> <span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="boxForm">
      <div class="form-group mb-3">
        <label for="name">Nombre <span class="text-danger">*</span></label>
        <input 
          type="text" 
          class="form-control" 
          id="name" 
          formControlName="name"
          [ngClass]="{'is-invalid': submitted && f['name'].errors}"
        >
        @if (submitted && f['name'].errors) {
          <div class="invalid-feedback">
            El nombre es requerido
          </div>
        }
      </div>

      <div class="form-group mb-3">
        <label for="description">Descripción</label>
        <textarea 
          class="form-control" 
          id="description" 
          formControlName="description"
          rows="3"
        ></textarea>
      </div>

      <div class="form-group mb-3">
        <label for="initialBalance">Saldo Inicial <span class="text-danger">*</span></label>
        <input
          type="text"
          class="form-control" 
          id="initialBalance" 
          formControlName="initialBalance"
          [ngClass]="{'is-invalid': submitted && f['initialBalance'].errors}"
          currencyMask
          [options]="currencyConfig"
        >
        @if (submitted && f['initialBalance'].errors) {
          <div class="invalid-feedback">
            El saldo inicial debe ser mayor o igual a 0
          </div>
        }
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onSubmit()">Guardar</button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Cancelar</button>
  </div>