<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a class="brand-link text-center">
    <i class="fas fa-piggy-bank fa-lg"></i>
    <span class="brand-text font-weight-light ml-1">Prestamium</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <!-- <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="info">
        <a href="#" class="d-block">Sandra Patricia Holguin</a>
      </div>
    </div> -->

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Dashboard Module -->
        <li class="nav-item">
          <a href="./index.html" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <!-- Prestamos Module -->
        <li class="nav-item">
          <a href="./prestamos/nuevo.html" class="nav-link">
            <i class="nav-icon fas fa-dollar-sign"></i>
            <p>Prestamos</p>
          </a>
        </li>
        <!-- Cajas Module -->
        <li class="nav-item">
          <a href="./cajas/nuevo.html" class="nav-link">
            <i class="nav-icon fas fa-cash-register"></i>
            <p>Cajas</p>
          </a>
        </li>
        <!-- Clientes Module -->
        <li class="nav-item">
          <a href="./clientes/nuevo.html" class="nav-link">
            <i class="nav-icon fas fa-users"></i>
            <p>Clientes</p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>